.btn-close{
    --background: white;
    --box-shadow:white;
    --color-activated:red;
}

ion-icon{
    color: black;
}

.header-modal{
    display: flex;
}
p{
    display: flex;
    padding: 0;
    margin: 0;
    width: 30px;
}
