ion-toolbar{
  --background:#42AAE9;
}

ion-toolbar .title {
  color: white;
}
.container {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.list-header { 
  background-color: #42AAE9;
  border-bottom: 1px solid #C4C4C5;
  color: white;
  width: 100vw; 
}

.spinner{
  margin-top: 10px;
}

ion-button {
  --background: #42AAE9;
}