<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Cultivar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-list padding>
  
      <ion-list-header class="list-header">
        Dispositivos pareados
      </ion-list-header>
      <ion-item *ngFor="let device of pairedDevices">
        {{device.name}}
      </ion-item>
      <!--
       <ion-button expand="block" (click)="disconnect()">Disconnect</ion-button>
      -->
      <ion-list-header class="list-header">
        Dispositivos encontrados
      </ion-list-header>
      <ion-item *ngFor='let device of unpairedDevices'>
        <span (click)="selectDevice(device.id)">
          {{device.name || device.address}}
        </span>
      </ion-item>
      <ion-spinner name="crescent" *ngIf="gettingDevices" class="spinner"></ion-spinner>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="startScanning()">Procurar dispositivos</ion-button>
</ion-footer>