ion-toolbar{
  --background:#0496DB;
}

ion-content{
  --background :  linear-gradient(180deg, rgba(48,220,238,1) 51%, rgba(112,240,254,1) 64%, rgba(250,250,250,1) 100%);
}

ion-list{
  padding: 0;
}

ion-title{
  text-align: center;
  font-weight: bold;
  color: #2B2B2B;
}
.container {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.list-header { 
  background-color: #0496DB;
  color: #2B2B2B;
  width: 100vw; 
}

.spinner{
  margin-top: 10px;
  background-color: transparent;
  --color: #0DC7DB;
}

.button-footer{
  --background: #0DC7DB;
  color: #2B2B2B ;
}

